<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinta Transportadora</title>
</head>
<body style="background-color:rgb(219, 223, 165);">
    <h1 style="background-color:rgb(101, 221, 171); text-align:center;" >Resultados</h1><br>
    <center>
        {% if aw_alimentos.aw_kiwis>0.95: %}
            <h3 style="background-color:rgb(221, 51, 51)">La actividad acuosa promedio del kiwi es: {{aw_alimentos.aw_kiwis}}</h3><br>
        {% else %}
            <h3>La actividad acuosa promedio del kiwi es: {{aw_alimentos.aw_kiwis}}</h3><br>
        {% endif %}

        {% if aw_alimentos.aw_manzanas>0.95: %}
            <h3 style="background-color:rgb(221, 51, 51)">La actividad acuosa promedio de la manzana es: {{aw_alimentos.aw_manzanas}}</h3><br>
        {% else %}
            <h3>La actividad acuosa promedio de la manzana es: {{aw_alimentos.aw_manzanas}}</h3><br>
        {% endif %}
        
        {% if aw_alimentos.aw_papas>0.95: %}
            <h3 style="background-color:rgb(221, 51, 51)">La actividad acuosa promedio de la papa es: {{aw_alimentos.aw_papas}}</h3><br>
        {% else %}
            <h3>La actividad acuosa promedio de la papa es: {{aw_alimentos.aw_papas}}</h3><br>
        {% endif %}
        
        {% if aw_alimentos.aw_zanahorias>0.95: %}
            <h3 style="background-color:rgb(221, 51, 51)">La actividad acuosa promedio de la zanahoria es: {{aw_alimentos.aw_zanahorias}}</h3><br>
        {% else %}
            <h3>La actividad acuosa promedio de la zanahoria es: {{aw_alimentos.aw_zanahorias}}</h3><br>
        {% endif %}
        
        {% if aw_alimentos.aw_frutas>0.95: %}
            <h3 style="background-color:rgb(221, 51, 51)">La actividad acuosa promedio de las frutas es: {{aw_alimentos.aw_frutas}}</h3><br>
        {% else %}
            <h3>La actividad acuosa promedio de las frutas es: {{aw_alimentos.aw_frutas}}</h3><br>
        {% endif %}

        {% if aw_alimentos.aw_verduras>0.95: %}
            <h3 style="background-color:rgb(221, 51, 51)">La actividad acuosa promedio de las verduras es: {{aw_alimentos.aw_verduras}}</h3><br>
        {% else %}
            <h3>La actividad acuosa promedio de las verduras es: {{aw_alimentos.aw_verduras}}</h3><br>
        {% endif %}

        {% if aw_alimentos.aw_total>0.95: %}
            <h3 style="background-color:rgb(221, 51, 51)">La actividad acuosa promedio total del conjunto de alimentos es: {{aw_alimentos.aw_total}}</h3><br>
        {% else %}
            <h3>La actividad acuosa promedio total del conjunto de alimentos es: {{aw_alimentos.aw_total}}</h3><br>
        {% endif %}

        {% for i in advertencia: %}
            <h3 style="color: rgb(255, 0, 0);"> La {{i}} se pasa de 0,95 se recomienda verificar cajón.</li>
        {% endfor %}

        <form action="/">
            <br><input type="submit" value="Volver al Inicio">
        </form>
    </center>
    
</body>
</html>