<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body style="background-color:rgb(219, 223, 165);">
    <h1 style="background-color:rgb(101, 221, 171); text-align:center;" >Smart Belt</h1><br>
    <center><form action="/" method="post">
        <label for="N" style="font-size:20px; color:rgb(49, 170, 120); font-family:Verdana;">N° de alimentos:</label>
        <input type="text" required ="" id="N" name="N">
        <input type="submit" value="Guardar Carga"><br><br>
        <img src="static/images/CintaTransportadora.jpg" width="500px"><br><br>
    </form></center>

    <center><form action="/cinta">
        <input type="submit" value="Iniciar Cinta" style="BORDER: rgb(35, 134, 113) 3px solid; FONT-SIZE: 20pt; FONT-FAMILY: Verdana; BACKGROUND-COLOR: rgb(101, 221, 171) ">
    </form></center>

</body>
</html>